@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'LilitaOne';
    src: url('./assets/fonts/LilitaOne-Regular.ttf');
  }
}

@layer utilities {
  .text-overline {
    @apply font-lilto text-xxs font-medium leading-2 tracking-wider
  }

  .text-caption {
    @apply font-lilto text-xs leading-4 tracking-wider
  }

  .text-body1 {
    @apply font-lilto text-sm leading-5 tracking-wider
  }

  .text-title {
    @apply font-lilto text-base leading-6 tracking-wider
  }

  .text-title0 {
    @apply font-lilto text-lg leading-6 tracking-wider
  }

  .text-title1 {
    @apply font-lilto text-2xl leading-8 tracking-wider
  }

  .text-title2 {
    @apply font-lilto text-3xl leading-9 tracking-wider
  }

  .text-title3 {
    @apply font-lilto text-4xl tracking-wider
  }

  .text-title4 {
    @apply font-lilto text-5xl leading-snug tracking-wider
  }
}

@layer components {
  .overlay {
    @apply fixed inset-0 bg-secondary bg-opacity-60 z-50 w-full h-full flex justify-center items-center
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
#scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}